/* Cloak dropdown */

.cloak-wrapper{
position:relative;
display:inline-block;
}

.cloak-menu{
display:none;
position:absolute;
right:0;
top:40px;
background:#111;
border:1px solid #333;
border-radius:6px;
flex-direction:column;
min-width:160px;
z-index:999;
}

.cloak-menu button{
background:none;
border:none;
color:white;
padding:10px;
cursor:pointer;
width:100%;
text-align:left;
font-family:"Oxanium", sans-serif;
}

.cloak-menu button:hover{
background:#222;
}
